<div id="footer">
	<div class="left">
		<p>This is <strong>Parallelism</strong>, a responsive portfolio site template by <a href="http://html5up.net/">HTML5 UP</a>. free for personal<br />
		and commercial use under the <a href="http://html5up.net/license/">CCA 3.0</a>. The awesome demo images used in this design<br />
		are by the amazingly talented <a href="http://ineedchemicalx.deviantart.com/">Felicia Simion</a>. Check out her work at <a href="http://ineedchemicalx.deviantart.com/">deviantART</a>.</p>
	</div>
	<div class="right">
		<ul class="contact">
			<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
			<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
			<li><a href="#" class="icon icon-google-plus"><span>Google+</span></a></li>
			<li><a href="#" class="icon icon-dribbble"><span>Dribbble</span></a></li>
			<li><a href="#" class="icon icon-pinterest"><span>Pinterest</span></a></li>
			<li><a href="#" class="icon icon-envelope-alt"><span>Email</span></a></li>
		</ul>
		<div id="copyright">
			&copy; Untitled. Design: <a href="http://html5up.net/">HTML5 UP</a> Modified to work with the <a href="https://www.harp.io">Harp Platform</a>
		</div>
	</div>
</div>